<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IEEE AESS S.P.I.T</title>
        <!-- links -->
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
        <!--CSS Stylesheet and Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../about.css">
        <!-- Bootstrap scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- =================HEADER================= -->
      <nav class="navbar navbar-expand-lg sticky-top" style="background-color: black;"> 
        <!-- bg-body-tertiary -->
        <div class="container-fluid">
          <a class="navbar-brand header-navbar">
            <img src="../spit.png" alt="SPIT" width="90px" height="90px" href="https://spit.ac.in">
            <span class="header-color">AESS S.P.I.T</span>
          </a>
          <div class="div-nav"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div style="height:1px;width:400px;"></div> -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-elements">
              <form action="/app.js" method="get">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page" href="/">Home</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/About" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" href="/app.js/about">About</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/Team" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" href="/app.js/team">Team</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/Events" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" href="/app.js/events">Events</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/Contact" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div class="nav-element">
                    <a class="nav-link header-color" href="/app.js/contact">Contact</a>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <!-- =================INTRO================= -->
      <section style="background-color:black;width:100%;height: 1800px;">
        <div class="animate-div-target container-fluid">
          <h1 style="color: white;font-size: 80px;font-family: 'Noto Serif Ahom',serif;text-align: right;" class="animated fadeInLeft">TARGETED MISSION</h1>
          <p style="font-family: 'Noto Serif Ahom',serif;color:white" class="animated fadeInLeft animate-div-p ">The design, development and integration of systems such as navigation, avionics, radar, sonar, telemetry in assisting and solving Societal problems and improving technology for improving Society</p>
        </div>
        <hr class="animate-hr-1 visibility-div">
        <img src="../planetenceladus.jpg" alt="" style="width:100%;height:800px;position: absolute;overflow: hidden;right:300px;" class="intro-back">
        <div class="animate-div-aim">
          <h1 style="color: white;font-size: 80px;font-family: 'Noto Serif Ahom',serif;" class="animated-aim visibility-div">TEAM AIM</h1>
          <p style="font-family: 'Noto Serif Ahom',serif;color:white" class="animated-aim-para visibility-div animate-div-p container-fluid">Building a professional society and building the interest in the field of aeronautics as well as promoting and encouraging the field of innovation and development in the avionics and Electrical systems</p>
        </div>
        <hr class="animate-hr-2 visibility-div">
        <img src="../cassinispacecraft.png" alt="" style="width:auto;height:500px;position:absolute;top:900px;right:300px;" class="intro-back">
        <div class="animate-div-vision">
          <h1 style="color: white;font-size: 80px;font-family: 'Noto Serif Ahom',serif;text-align: right;" class="animated-vision visibility-div">TEAM VISION</h1>
          <p style="font-family: 'Noto Serif Ahom',serif;color:white" class="animated-vision-para visibility-div animate-div-p">Conducting activities and events to bring Aerospace activities in college and build the interest of the students towards building and innovating towards creating a better Society</p>
        </div>
        <hr class="animate-hr-3 visibility-div">
        <div class="animate-div-team">
          <h1 style="color: white;font-family: 'Noto Serif Ahom',serif;text-align: center;" class="animated-team visibility-div animate-div-team-p">CURRENT TEAM IS WORKING ON A RESEARCH PROJECT REGARDING <span class="agri-drone">AGRI-DRONES</span></h1>
        </div>
      </section>
      <!-- <div style="position:absolute;z-index:5;right:150px;top: 750px;width:900px;height:800px;">
        <h1 style="color: whitesmoke;font-size: 80px;font-family: 'Noto Serif Ahom',serif;text-align: right;">CURRENT TEAM RESEARCH PROJECT AGRIDRONES</h1>
      </div> -->
      <!-- =================CONTACT================= -->
      <footer class="footer">
        <div class="container-fluid" style="background-color: black;margin-top: 0px;padding-top:20px;">
          <div class="contact-us">
            <h1 style="font-size:30px;">Contact Us | IEEE Aeronautical and Electrical Systems Society</h1>
          </div>
          <div class="row">
             <!-- map embed -->
            <div class="col-lg-6 col-sm-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.821680491084!2d72.83539053049266!3d19.123295427096583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e067ba9%3A0x16268e5d6bca2e6a!2sBharatiya%20Vidya%20Bhavan&#39;s%20Sardar%20Patel%20Institute%20of%20Technology%20(SPIT)!5e0!3m2!1sen!2sin!4v1676913599008!5m2!1sen!2sin" 
              width="600" height="200" class="iframe-map"
               allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 container-fluid college-name college-name-effect">
              <h3 style="font-size:20px;">Sardar Patel Institute Of Technology</h3>
              <h3 style="font-size:20px;">Bhavans College Road, Munshi Nagar</h3>
              <h3 style="font-size:20px;">Azad Nagr, Near Vrindavan Restaurant,</h3>
              <h3 style="font-size:20px;">Andheri, Mumbai-53</h3>
            </div>
          </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;">
          Developed by Amey Agarwal
        </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;text-align: center;height:25px;">
          IEEE AESS S.P.I.T All Rights Reserved &#169;
        </div>
      </div>
      </footer>
      <script src="../about.js"></script>
    </body>
</html>