<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IEEE AESS S.P.I.T</title>
        <!-- links -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
        <!--CSS Stylesheet and Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../eventsstyles.css">
        <!-- Bootstrap scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- =================HEADER================= -->
      <nav class="navbar navbar-expand-lg sticky-top" style="background-color: black;"> 
        <!-- bg-body-tertiary -->
        <div class="container-fluid">
          <a class="navbar-brand header-navbar">
            <img src="../spit.png" alt="SPIT" width="90px" height="90px" href="https://spit.ac.in">
            <span class="header-color">AESS S.P.I.T</span>
          </a>
          <div class="div-nav"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div style="height:1px;width:400px;"></div> -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-elements">
              <form action="/" method="get">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page" href="/">Home</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/about" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page" href="/app.js/about">About</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/team" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page" href="/app.js/team">Team</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/events" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color " aria-current="page" href="/app.js/events">Events</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/contact" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div class="nav-element">
                    <a class="nav-link header-color" aria-current="page" href="/app.js/contact">Contact</a>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <!-- INTRO -->
      <section style="background-image: url(../earthsatellite2.jpeg);width:100%;height:350px;background-size:cover ;overflow: hidden;">
      </section>
      <!-- EVENTS -->
      <main>
        <div style="margin-top: 40px;">
          <h1 style="text-align:center;font-size:80px;font-family: 'Noto Serif Ahom',serif;">EVENTS AND GALLERY</h1>
        </div>
        <section id="team-intro">
          <div class="container-fluid" style="margin-right:45px;">
            <!-- background-image: url(../planemodel.jpeg);background-size:cover; -->
            <div class="row center-element animate-events">
              <div class="card col-md-4 col-sm-12 animate-card-1 visibility-div"style="padding-left: 0px;padding-right:0px;" >
                <img src="../planemodel.jpeg"  alt="" style="width:398px;height:282px;">
                  <div class="team-intro-card" style="color:black;opacity: 0.8;width: 100%;text-align: center;font-size: 30px;position:relative;bottom:150px;">
                    <p style="color:black;opacity: 1;margin-bottom: 0px;">STAY TUNED!</p>
                    <!-- <p style="color:white;opacity: 1;margin-bottom: 0px;">Vice Chairperson</p> -->
                  </div>
              </div>
              <div class="card col-md-4 col-sm-12 animate-card-2 visibility-div"style="padding-left: 0px;padding-right:0px;">
                <img src="../aarambh.jpeg" alt="">
                <div class="hover-info" onmouseover="infohover()" onmouseout="infodonehover()">
                  <div class="team-intro-card event-name-info" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                    <div>
                      <p style="color:white;opacity: 1;margin-bottom: 0px;font-size: 30px;">AARAMBH'23</p>
                    </div>
                  </div>
                  <div class="team-intro-card event-info visibility-div" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                    <div>
                      <p style="color:white;opacity: 1;margin-bottom: 0px;font-size: 20px;">IEEE x IEEE AESS Fun event for FE as an Ice-Breaker Session for FE to interact with their peers</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card col-md-4 col-sm-12 animate-card-3 visibility-div"style="padding-left: 0px;padding-right:0px;">
                <img src="../planemodel.jpeg"  alt="" style="width:398px;height:282px;">
                  <div class="team-intro-card" style="color:black;opacity: 0.8;width: 100%;text-align: center;font-size: 30px;position:relative;bottom:150px;">
                    <p style="color:black;opacity: 1;margin-bottom: 0px;">STAY TUNED!</p>
                    <!-- <p style="color:white;opacity: 1;margin-bottom: 0px;">Vice Chairperson</p> -->
                  </div>
              </div>
            </div>
          </div>
        </section>
        <div style="margin-top: 40px;">
        <h1 style="text-align:center;font-size:80px;font-family: 'Noto Serif Ahom',serif;">UPCOMING EVENTS</h1>
      </div>
        <!-- UPCOMING EVENTS -->
        <section id="team-intro" style="margin-bottom:30px;">
          <div class="container-fluid" style="margin-right:45px;">
            <!-- background-image: url(../planemodel.jpeg);background-size:cover; -->
            <div class="row center-element animate-uevents">
              <div class="card col-md-4 col-sm-12 animate-card-4 visibility-div"style="padding-left: 0px;padding-right:0px;" >
                <img src="../astroquiz.png"  alt="">
                  <div class="team-intro-card" style="color:black;opacity: 0.8;width: 100%;text-align: center;font-size: 30px;position:relative;bottom:150px;">
                    <!-- <p style="color:white;opacity: 1;margin-bottom: 0px;">STAY TUNED!</p> -->
                    <!-- <p style="color:white;opacity: 1;margin-bottom: 0px;">Vice Chairperson</p> -->
                  </div>
              </div>
              <div class="card col-md-4 col-sm-12 animate-card-5 visibility-div"style="padding-left: 0px;padding-right:0px;">
                <img src="../cansatellite.png" alt="">
                <!-- <div class="hover-info"> -->
                  <!-- onmouseover="infohover()" onmouseout="infodonehover()" -->
                  <div class="team-intro-card" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                      <p style="color:white;opacity: 1;margin-bottom: 0px;font-size: 30px;">CAN SATELLITE</p>
                  </div>
                  <!-- <div class="team-intro-card event-info visibility-div" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                    <div>
                      <p style="color:white;opacity: 1;margin-bottom: 0px;font-size: 20px;">IEEE x IEEE AESS Fun event for FE as an Ice-Breaker Session for FE to interact with their peers</p>
                    </div>
                  </div> -->
                <!-- </div> -->
              </div>
              <div class="card col-md-4 col-sm-12 animate-card-6 visibility-div"style="padding-left: 0px;padding-right:0px;">
                <img src="../rc.png"  alt="" style="width:398px;height:282px;">
                  <div class="team-intro-card" style="color:black;opacity: 0.8;width: 100%;text-align: center;font-size: 30px;position:relative;bottom:150px;">
                    <p style="color:black;opacity: 1;margin-bottom: 0px;">STAY TUNED!</p>
                    <!-- <p style="color:white;opacity: 1;margin-bottom: 0px;">Vice Chairperson</p> -->
                  </div>
              </div>
            </div>
          </div>
        </section>
            <!-- <div class="container">
                <div class="row animate-uevents">
                    <div class="card event-card col-lg-4 animate-card-4 visibility-div" style="background-color: black;">
                        <img src="../astroquiz.png" class="card-img-top" alt="..." style="background-size: cover;width:330px;height:285px;padding-top:53px;">
                        <h1 style="text-align:center;font-size: 50px;font-family: 'Noto Serif Ahom',serif;color: white;padding-top: 10px;">ASTRONOMY QUIZ</h1> -->
                        <!-- <div class="card-body">
                        <p class="card-text">Astronomy Quiz</p>
                        </div> -->
                    <!-- </div>
                    <div class="card event-card col-lg-4 animate-card-5 visibility-div" style="background-color: black;">
                        <img src="../cansatellite.png" class="card-img-top" alt="..." style="background-size: cover;width:330px;height:285px;padding-top:53px;">
                        <h1 style="text-align:center;font-size: 50px;font-family: 'Noto Serif Ahom',serif;color: white;padding-top: 10px;">SATELLITE DESIGN</h1> -->
                        <!-- <div class="card-body">
                          <h1 style="text-align:center;font-size: 40px;">SATELLITE DESIGN</h1> -->
                        <!-- <p class="card-text">Satellite Design Competition</p> -->
                        <!-- style="background-size: cover;width:330px;height:285px;padding-top:53px;" -->
                        <!-- </div> -->
                    <!-- </div>
                    <div class="card event-card col-lg-4 animate-card-6 visibility-div" style="background-color: black;">
                        <img src="../rc.png" class="card-img-top" alt="..." style="background-size: cover;width:330px;height:285px;padding-top:53px;">
                        <h1 style="text-align:center;font-size: 50px;font-family: 'Noto Serif Ahom',serif;color: white;padding-top: 10px;">RC PLANES</h1> -->
                        <!-- <div class="card-body">
                        <p class="card-text">RC Planes</p>
                        </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
    </main>
    <!-- =================CONTACT================= -->
    <footer>
        <div class="container-fluid" style="background-color: black;margin-top: 0px;padding-top:20px;">
          <div class="contact-us">
            <h1 style="font-size:30px;">Contact Us | IEEE Aeronautical and Electrical Systems Society</h1>
          </div>
          <div class="row">
             <!-- map embed -->
            <div class="col-lg-6 col-sm-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.821680491084!2d72.83539053049266!3d19.123295427096583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e067ba9%3A0x16268e5d6bca2e6a!2sBharatiya%20Vidya%20Bhavan&#39;s%20Sardar%20Patel%20Institute%20of%20Technology%20(SPIT)!5e0!3m2!1sen!2sin!4v1676913599008!5m2!1sen!2sin" 
              width="600" height="200" class="iframe-map"
               allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 container-fluid college-name college-name-effect">
              <h3 style="font-size:20px;">Sardar Patel Institute Of Technology</h3>
              <h3 style="font-size:20px;">Bhavans College Road, Munshi Nagar</h3>
              <h3 style="font-size:20px;">Azad Nagar, Near Vrindavan Restaurant,</h3>
              <h3 style="font-size:20px;">Andheri, Mumbai-53</h3>
            </div>
          </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;">
          Developed by Amey Agarwal
        </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;text-align: center;height:25px;">
          IEEE AESS S.P.I.T All Rights Reserved &#169;
        </div>
      </div>
      </footer>
      <script src="../events.js"></script>
    </body>
</html>