<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IEEE AESS S.P.I.T</title>
        <!-- links -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Smokum&display=swap" rel="stylesheet">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
        <!--CSS Stylesheet and Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <!-- Bootstrap scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- =================HEADER================= -->
      <nav class="navbar navbar-expand-lg sticky-top" style="background-color: black;"> 
        <!-- bg-body-tertiary -->
        <div class="container-fluid">
          <a class="navbar-brand header-navbar">
            <img src="../spit.png" alt="SPIT" width="90px" height="90px" href="https://spit.ac.in">
            <span class="header-color">IEEE AESS S.P.I.T</span>
          </a>
          <div class="div-nav"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div style="height:1px;width:400px;"></div> -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-elements">
              <form action="/" method="get">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page">Home</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/about" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page">About</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/team" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color" aria-current="page">Team</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/events" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div style="border-right:solid 0.5px grey;" class="nav-element">
                    <a class="nav-link header-color " aria-current="page">Events</a>
                  </div>
                </button>
              </form>
              <form action="/app.js/contact" method="post">
                <button type="submit" style="background-color: black;border: 0px;">
                  <div class="nav-element">
                    <a class="nav-link header-color" aria-current="page">Contact</a>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <!-- =================INTRO================= -->
      <section class="intro">
          <!-- <div style="color:white;font-family: 'Noto Serif Ahom',serif;text-align: center;position: relative;top:100px;" class="col-lg-6">
            <h1 style="font-size: 45px;">IEEE</h1>
          </div> -->
          <div class="fade-in">
          <!-- <img src="../ieeelogo.png" alt="IEEE LOGO" class="ieee-logo" href="https://ieee.org">
        </div> -->
        <div class="ieee-logo"></div>
          <img src="../aesslogo.png" alt="AESS LOGO" class="aess-logo fade-in">
        <div class="container-fluid aess-brand">
          <h1 style="font-size: 45px;">
            <span class="aess-name fade-in">AERONAUTICAL</span>
            <span class="aess-name fade-in">AND</span>
            <span class="aess-name fade-in">ELECTRONIC</span> 
            <span class="aess-name fade-in">SYSTEMS</span> 
            <span class="aess-name fade-in">SOCIETY</span></h1>
        </div>
        <div class="container-fluid aess-brand fade-in">
          <h1 style="font-size: 45px;color: grey;">STUDENT CHAPTER</h1>
        </div>
      </section>
      <main>
      <!-- =================FOCUS================= -->
        <section id="focus-intro">
          <div class="container-fluid">
            <div class="row animate-div">
              <div class="col-sm-12 focus-intro-element animated visibility-div">
                <h2 style="font-size:60px; font-family:'Smokum', cursive;">AIM</h2>
                <p style="font-size:25px">The field of interest shall be the organization, <span class="systems" style="color:blue;">systems engineering</span>, design, development, integration, and operation of complex systems for <span style="color:blue;">space, air, ocean, or ground environments</span>. These systems include but are not limited to navigation, avionics, mobile electric power and electronics, radar, sonar, telemetry, military, law-enforcement, automatic test, simulators, and command and control</p>
              </div>
              <div class="col-sm-12 focus-intro-element animated visibility-div">
                <h2 style="font-size:60px; font-family:'Smokum', cursive;">VISION</h2>
                <p style="font-size:25px">The vision of the AESS is to be essential to the worldwide technical community and be recognized for <span style="color:blue;">outstanding contributions</span> in the fields of aerospace and electronic systems as demonstrated through the Society’s products, service and offerings in the areas of conferences, <span style="color:blue;">publications</span>, education, technical operations, industry relations, and member services.</p>
              </div>
              <div class="col-sm-12 focus-intro-element animated visibility-div">
                <h2 style="font-size:60px; font-family:'Smokum', cursive;">MISSION</h2>
                <p style="font-size:25px">The mission of the AESS is to provide a responsive and relevant <span style="color:blue;opacity: 1;">professional society</span> that attracts, engages, aids, and retains a diverse set of members worldwide in the areas of our fields of interest as defined in our constitution. AESS will accomplish this through technical, chapter and society activities in the areas of conferences, publications, education, technical operations, industry relations, and member services.</p>
              </div>
            </div>
          </div>
        </section>
        <h1 class="inverted-comma" style="font-size:300px;position: absolute;left:50px;">❝</h1>
      <!-- =================TEAM================= -->
      <!-- <section id="team-intro">
        <div class="container" style="padding-left: 50px;">
          <div class="row" style="padding-left: 50px;">
            <div class="meet-the-team">
              <h1 style="font-size: 70px;font-family: 'Dancing Script', cursive;">MEET THE TEAM!</h1>
            </div>
            <p class="head-to-team"> Head Over to the Team Page to see the entire awesome Team! </p> -->
            <!-- <div class="col-lg-6">
            <button type="button" class="btn btn-secondary btn-lg button-effect button-student-team">MEET THE STUDENT TEAM!</button>
            </div> -->
          <!-- </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="card col-sm-12 team-intro-element"style="background-image: url(../vcp1.png);background-size:cover;padding-left: 0px;" >
                <div class="team-intro-card" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                  <p style="color:white;opacity: 1;">Tanya Anupam,VCP</p>
                </div>
            </div>
            <div class="card col-sm-12 team-intro-element"style="background-image: url(../cpak.png);background-size:cover;padding-left: 0px;">
                <div  class="team-intro-card" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                  <p style="color:white;opacity: 1;">Aditya Kulkarni,Chairperson</p>
                </div>
            </div>
            <div class="card col-sm-12 team-intro-element"style="background-image: url(../vcp2.png);background-size:cover;padding-left: 0px;">
                <div class="team-intro-card" style="color:white;background-color: black;opacity: 0.8;width: 100%;text-align: center;">
                  <p style="color:white;opacity: 1;"> Harish Balasubramaniam,VCP</p>
                </div>
            </div>
        </div>
      </div>
    </section> -->
    <div>
      <div class="container" >
        <div class="row">
          <div class="meet-the-team">
            <h1 style="font-size: 70px;font-family: 'Dancing Script', cursive;text-align: center;">MEET THE TEAM!</h1>
          </div>
          <p class="head-to-team" style="text-align: center;"> Head Over to the Team Page to see the entire awesome Team! </p>
        </div>
      </div>
    </div>
    <section style="justify-content: center;display: flex;">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width:350px;height:500px;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../vcp1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: black;opacity: 0.6;">
              <h5 style="color:white;font-family: 'Noto Serif Ahom',serif;">Tanya Anupam</h5>
              <p style="color:white;font-family: 'Noto Serif Ahom',serif;">ViceChairperson</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../cpak.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: black;opacity: 0.6;">
              <h5 style="color:white;font-family: 'Noto Serif Ahom',serif;">Aditya Kulkarni</h5>
              <p style="color:white;font-family: 'Noto Serif Ahom',serif;">Chairperson</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../vcp2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: black;opacity: 0.6;">
              <h5 style="color:white;font-family: 'Noto Serif Ahom',serif;">Harish Balasubramaniam</h5>
              <p style="color:white;font-family: 'Noto Serif Ahom',serif;">ViceChairperson</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <h1 class="inverted-comma" style="font-size:300px;position: absolute;right:50px;top:1900px;">❞</h1>
      <!-- =================CONTACT================= -->
      <footer>
        <div class="container-fluid" style="background-color: black;margin-top: 40px;padding-top:20px;">
          <div class="contact-us">
            <h1 style="font-size:30px;">Contact Us | IEEE Aeronautical and Electrical Systems Society</h1>
          </div>
          <div class="row">
             <!-- map embed -->
            <div class="col-lg-6 col-sm-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.821680491084!2d72.83539053049266!3d19.123295427096583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e067ba9%3A0x16268e5d6bca2e6a!2sBharatiya%20Vidya%20Bhavan&#39;s%20Sardar%20Patel%20Institute%20of%20Technology%20(SPIT)!5e0!3m2!1sen!2sin!4v1676913599008!5m2!1sen!2sin" 
              width="600" height="200" class="iframe-map"
               allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 container-fluid college-name college-name-effect">
              <h3 style="font-size:20px;">Sardar Patel Institute Of Technology</h3>
              <h3 style="font-size:20px;">Bhavans College Road, Munshi Nagar,</h3>
              <h3 style="font-size:20px;">Azad Nagar, Near Vrindavan Restaurant,</h3>
              <h3 style="font-size:20px;">Andheri, Mumbai-400053</h3>
            </div>
          </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;">
          Developed by Amey Agarwal
        </div>
        <div style="font-family: 'Noto Serif Ahom',serif;color:white;text-align: center;height:25px;">
          IEEE AESS S.P.I.T All Rights Reserved &#169;
        </div>
      </div>
      </footer>
    </main>
    <script src="indexhomepage.js"></script>
    </body>
</html>
        <!-- <section> -->
          <!-- <section class="intro-section" style="background-image: url(../earthsatellite2.jpeg);height:100vh;width:100%;background-size:cover;overflow:hidden;position: absolute;display:block;z-index: -5;">
            <h1 id="brandname-1">IEEE</h1>
            <img class="aess-logo" src="../aesslogo.png" alt="AESS LOGO">
            <h1 id="brandname-2">STUDENT CHAPTER</h1> -->
            <!-- <img src="wingaeropplane.jpeg" alt=""> -->
            <!-- style="position:relative;top:30%;left:2%;" -->
        <!-- </section> -->
        <!-- <header>
            <nav class="navbar navbar-expand-lg" id="navbaredit"> -->
              <!-- bg-dark -->
              <!-- <div class="container-fluid"> -->
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <!-- <a href="https://www.spit.ac.in">
                  <img class="spitlogo" src="../spit.png" alt="S.P.I.T Logo">
                </a> -->
                <!-- <img src="../images/spit.png" alt="S.P.I.T Logo"> -->
                <!-- <div style="width:20px;"></div>
                <a class="navbarAess navbar-brand">AESS S.P.I.T</a>
                <div style="height:50px;width:350px;"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                  <div class="navbardesign">
                    <li class="nav-item">
                      <a class="navbarElements nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </div>
                  <div class="navbardesign">
                    <li class="nav-item">
                      <a class="navbarElements nav-link" href="#">About</a>
                    </li>
                  </div>
                  <div class="navbardesign">
                    <li class="nav-item">
                      <a class="navbarElements nav-link" href="#">Team</a>
                    </li>
                  </div> -->
                  <!-- <div class="navbardesign">
                    <li class="nav-item">
                      <a class="navbarElements nav-link">Events</a>
                    </li>
                  </div>
                  <div style="padding-left:10px;padding-right:10px">
                    <li class="nav-item">
                      <a class="navbarElements nav-link">Contact</a>
                    </li>
                  </div>
                  </ul>
                </div>
              </div>
            </nav>
        </header> -->
        <!-- <section class="intro-section" style="background-image: url(../earthsatellite2.jpeg);height:100vh;width:100%;background-size:cover;overflow:hidden;position: absolute;display:block;z-index: -5;">
          <h1 id="brandname-1">IEEE</h1>
          <img class="aess-logo" src="../aesslogo.png" alt="AESS LOGO">
          <h1 id="brandname-2">STUDENT CHAPTER</h1> -->
          <!-- <img src="wingaeropplane.jpeg" alt=""> -->
          <!-- <img src="wingaeropplane.jpeg" alt=""> -->
          <!-- style="position:relative;top:30%;left:2%;" -->
      <!-- </section> -->
        <!-- <div>
          <img src="wingaeropplane.jpeg" alt="">
        </div> -->
        <!-- <section>
          <img src="wingaeropplane.jpeg" alt="">
        </section> -->
        <!-- check for right extra space -->
        <!-- <section style="background-image: url(../earthsatellite2.jpeg);height:100vh;width:100%;background-size:cover;overflow:hidden;position: absolute;display:block;z-index: -5;"> -->
            <!-- <img class="aess-logo" src="../aesslogo.png" alt="AESS LOGO"> -->
        <!-- <div style="position:relative;top:60%;left:2%;">
          <img class="aess-logo" src="../aesslogo.png" alt="AESS LOGO">
        </div> -->
            <!-- style="position:relative;top:30%;left:2%;" -->
        <!-- </section> -->
    <!-- </section> -->
